{% extends "layout.html" %}

{% block content %}

<div class="container">

  <div class="mt-1">
    <h1>Featured Playlists</h1>
  </div>

  <p class="lead">
    Get a list of Spotify featured playlists (shown, for example,
    on a Spotify player’s “Browse” tab).
  </p>

  <hr class="half-rule"/>

  <div class='containter'>

    <h3>{{ data.message }}</h3>
    {% for item in data['items'] %}
      <div class='row'>
        <a href="{{ item['track']['href'] }}">
          
          <div class='col-sm-8'>
            <span>{{ item['track']['name'] }} </span>
          </div>
          <div class='col-sm-8'>
            <span>{{ item['track']['artist'] }} </span>
          </div>

          <div class='col-sm-4'>
            {% if item.images %}
              <img src="{{item.track.images[0].url}}" alt="{{item['track']['name']}}" class="img-playlist">
            {% else %}
              <img src="http://bit.ly/2nXRRfX" class="img-search">
            {% endif %}
          </div>

        </a>
      </div>
    {% endfor %}

  </div>


</div>

{% endblock %}
