{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="mt-1">
      <h1>Emotionally Musical App</h1>
    </div>
    <p class="lead">
      This is our project. Our GitHub link is
      <a href='https://github.com/tannercyost/cst205team5'>
        here</a>.
    </p>

    <p class="lead">
        Much of the structure of this website are based off of work done in this repository
        <a href='https://github.com/mari-linhares/spotify-flask'>
          here</a>. We have left the old routes intact so that the features provided by this repository can be easily demoed.
          Everything after clicking below was coded and debugged completely by us, only using some HTML strucutres as a basis.
      </p>

    <div class="mt-1">
        <h1>Click
        <a href='/emotion-music-app'>
          here</a> to start the app.</h1> It will scan using your webcam for 5 seconds then display some playlists for you.
    </div>
  </div>

{% endblock %}
